<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSourceCredentials>
		<feedName>
			<add key="Username" value="guest" />
			<add key="ClearTextPassword" value="" />
		</feedName>
	</packageSourceCredentials>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>

		<add key="nuget.org" value="https://nuget.org/api/v2/" />

		<add key="sockswebproxy" value="https://ci.appveyor.com/nuget/sockswebproxy" />
		
	</packageSources>
</configuration>